[Unit]
Description=Cybernetics Dashboard
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/cyber-dashboard
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /opt/cyber-dashboard/dashboard3/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
